In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/User/OneDrive/Documents/Bank.csv")
df.head(8)

         Date    Open    High     Low   Close    Adj Close     Volume
0  2014-02-03  1980.0  2000.0  1965.0  1965.0  1691.382568   55407000
1  2014-02-04  1970.0  1980.0  1940.0  1970.0  1695.686035   83683500
2  2014-02-05  1980.0  1990.0  1965.0  1990.0  1712.901367   42715000
3  2014-02-06  1975.0  2030.0  1970.0  2030.0  1747.331299   63581000
4  2014-02-07  2050.0  2060.0  2035.0  2050.0  1764.546753  104825500
5  2014-02-10  2060.0  2075.0  1995.0  2010.0  1730.116455   61835500
6  2014-02-11  2020.0  2060.0  2015.0  2030.0  1747.331299   71441500
7  2014-02-12  2050.0  2070.0  2035.0  2060.0  1773.154053  112510500

In [3]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2483.000000,2483.000000,2483.000000,2483.000000,2483.000000,2.483000e+03
mean,5219.973822,5265.847765,5173.628675,5219.887233,4886.148684,7.997496e+07
std,2223.156537,2240.113146,2206.459905,2223.903144,2276.934419,5.378122e+07
min,1970.000000,1980.000000,1940.000000,1965.000000,1691.382568,0.000000e+00
25%,2955.000000,2985.000000,2930.000000,2950.000000,2612.564454,5.153575e+07
50%,5170.000000,5235.000000,5120.000000,5180.000000,4736.543945,7.009800e+07
75%,6822.500000,6890.000000,6740.000000,6800.000000,6349.964111,9.651755e+07
max,9775.000000,9775.000000,9675.000000,9750.000000,9750.000000,1.062862e+09

In [4]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
dff=df.drop('Date',axis=1)

### Step 1

In [6]:
df1=dff.sample(frac=0.5)

In [7]:
df1

        Open    High     Low   Close    Adj Close     Volume
855   3730.0  3735.0  3680.0  3715.0  3334.785400   64479500
1439  6200.0  6255.0  6185.0  6220.0  5717.426758   59971500
126   2350.0  2355.0  2325.0  2350.0  2036.659180   51492000
2480  9400.0  9450.0  9300.0  9350.0  9350.000000   78977300
2427  8900.0  9050.0  8900.0  9000.0  8957.262695   46076800
...      ...     ...     ...     ...          ...        ...
1788  6410.0  6515.0  6360.0  6360.0  5984.070313  113370500
2399  8900.0  9100.0  8875.0  9075.0  9031.906250   93663000
963   4235.0  4335.0  4195.0  4300.0  3874.466064   94573000
1174  4700.0  4770.0  4695.0  4770.0  4330.690918   65950000
91    2205.0  2210.0  2200.0  2205.0  1910.993042   75782500

[1242 rows x 6 columns]

In [8]:
X1=df1.drop('Adj Close',axis=1)
y1=df1.Close

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=1)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_trains = scaler.fit_transform(X_train)
X_tests = scaler.transform(X_test)

In [11]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

model = DecisionTreeRegressor(random_state=1)
model.fit(X_trains, y_train)
predicted_scaled = model.predict(X_tests)

r2 = r2_score(y_test, predicted_scaled)
print(f'R-squared with scaled features: {r2}')

R-squared with scaled features: 0.9999673832422671

### Step 2

In [12]:
df2 = dff.sample(frac=0.5)

In [13]:
df2

        Open    High     Low   Close    Adj Close     Volume
242   2635.0  2665.0  2630.0  2655.0  2309.707764   48230000
1380  6205.0  6250.0  6190.0  6220.0  5717.426758   38225500
446   2720.0  2745.0  2700.0  2705.0  2378.868164   84898500
338   2740.0  2740.0  2700.0  2725.0  2386.299072   29546500
1913  6900.0  6900.0  6710.0  6760.0  6449.585938  103954500
...      ...     ...     ...     ...          ...        ...
1558  5540.0  5615.0  5480.0  5500.0  5071.601074   58043000
945   4260.0  4260.0  4210.0  4260.0  3824.006592   77432000
1014  4630.0  4660.0  4575.0  4575.0  4122.251465   87744000
1823  6450.0  6450.0  6260.0  6360.0  6067.954102   92620000
1875  6360.0  6360.0  6135.0  6160.0  5877.137695   67285000

[1242 rows x 6 columns]

In [14]:
X2=df2.drop('Adj Close',axis=1)
y2=df2.Close

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size=0.2, random_state=1)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_trains = scaler.fit_transform(X_train)
X_tests = scaler.transform(X_test)

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

model = DecisionTreeRegressor(random_state=1)
model.fit(X_trains, y_train)
predicted_scaled = model.predict(X_tests)

r2 = r2_score(y_test, predicted_scaled)
print(f'R-squared with scaled features: {r2}')

R-squared with scaled features: 0.9999715147010111

### Step 3

In [18]:
df3 = dff.sample(frac=0.5)
df3

        Open    High     Low   Close    Adj Close     Volume
1322  5700.0  5700.0  5625.0  5630.0  5175.098633  126636500
266   2900.0  2915.0  2875.0  2885.0  2509.794922   61321500
1199  5000.0  5080.0  4980.0  5020.0  4557.666992  103822500
1648  6500.0  6540.0  6275.0  6275.0  5886.263672   97032000
4     2050.0  2060.0  2035.0  2050.0  1764.546753  104825500
...      ...     ...     ...     ...          ...        ...
1196  4815.0  4850.0  4780.0  4810.0  4367.006348   68511500
1831  6620.0  6620.0  6500.0  6580.0  6277.851563   62108500
1858  6170.0  6175.0  6015.0  6045.0  5767.417969   65946500
199   2655.0  2705.0  2645.0  2655.0  2300.991699   77269000
1906  6500.0  6580.0  6500.0  6555.0  6253.999512   68722000

[1242 rows x 6 columns]

In [19]:
X3=df3.drop('Adj Close',axis=1)
y3=df3.Close

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X3, y3, test_size=0.2, random_state=1)

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_trains = scaler.fit_transform(X_train)
X_tests = scaler.transform(X_test)

In [22]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

model = DecisionTreeRegressor(random_state=1)
model.fit(X_trains, y_train)
predicted_scaled = model.predict(X_tests)

r2 = r2_score(y_test, predicted_scaled)
print(f'R-squared with scaled features: {r2}')

R-squared with scaled features: 0.9999160052210484